# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/
.idea/
.DS_Store

# tests / coverage
coverage/
